@model IEnumerable<BookSellingWebsite_Assessment_04_.Model.Book>

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
    background-color:lightgreen;
    }
</style>

<h1>For The User</h1>


<form asp-action="Search">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <input type="search" name="searchString" class="form-control"/>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Search" class="btn btn-warning"/>
        </div>
        <div class="col-md-2"></div>
    </div>
</form><br />
<div class="row">
@foreach(var item in Model)
{
       

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="https://media.gettyimages.com/photos/single-red-book-on-a-white-surface-picture-id173015527?s=612x612" alt="Card image cap">
                     <div class="card-body">
                      <h6 class="card-title">Book Name:@item.Name</h6>
                      <h6 class="card-title">Cost:@item.Cost</h6>
                      <h6 class="card-title">Zoner:@item.Zoner</h6>
                      


                      
                       <a asp-action="Description"  asp-route-id="@item.Id" class="btn btn-outline-danger">Details</a>
                       
                       <a asp-action="AddToCart"  asp-route-id="@item.Id" class="btn btn-outline-danger">AddToCart</a>

                     </div>
                 </div> 
                 
            </div>
            }
            </div>

            
